body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cart-list {
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex-grow: 1;
}

.cart-item {
    align-items: center;
    border: 1px solid #919191;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px #089da1;
    padding: 20px;
    width: 190px;
    height: 400px;
    text-align: left;
}

.cart-item img {
    display: block; 
    width: 165px;
    height: 200px;
    margin: 0 auto; 
    border: 1px solid #919191;
    border-radius: 6px;
}

.cart-item a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.btn-pdf {
    display: inline-block;
    padding: 8px 40px;
    background-color: orange;
    border: 2px solid #333;
    border-radius: 5px;

    }

.rm_btn {
    display: inline-block;
    padding: 8px 60px;
    background-color: red;
    border: 2px solid #333;
    border-radius: 5px;
}

.empty-cart-message {
    text-align: center;
    margin: 50px 0;
    font-size: 20px;
}

.add-book-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #089da1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.add-book-btn:hover {
    background-color: #066d70;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.book-info {
    display: flex;
    align-items: flex-start;
}

.book-cover {
    width: 150px;
    height: 200px;
    margin-right: 20px;
    border: 1px solid #919191;
}

.details {
    max-width: 600px;
}

.details h1 {
    margin: 0;
    font-size: 24px;
}

.details p {
    margin: 5px 0;
}

